.header{
    text-align: center;
    background-color: #283593;
    height: 3rem;
}
.first{
    text-align: left;
    background-color:#81D4FA ;

}
.first p{
    font-weight: bold;
    color:#E91E63;
}
.second{
    text-align: left;
    background-color: rgb(124, 218, 124);
}
.second p{
    font-weight: bold;
    color:#E91E63;
}
.third{
    text-align: left;
    background-color: #FFAB91;
}
.third p{
    font-weight: bold;
    color:#E91E63;
}

.fourth {
   
     background-image: url(background.jpg); 
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width:800px;
    height:450px;
  
      
    
    
}
.fourth form{
    background-color: antiquewhite;
    height:400px;
    width:600px;
}
.age,.name,.date{
   width:60%; 
   
}
input .same{
    display:inline
}
.finish{
  text-align: center;
  background-color: #4cAF50;
  COLOR:WHITE;
    
}
label{
    font-size:20px;
    color:blue;
}
footer{
    text-align:center;
    color:white;
    background-color: #283593;
}